// assets/css/global.scss

// customize some Bootstrap variables
// $primary: darken(#428bca, 20%);


// Customization for submenu in dropdown menu
.dropdown-menu {
  li {
    position: relative;
  }
  .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }
  > li:hover >.dropdown-submenu {
    display: block;
  }
}


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";